## IntelliJ files
/.idea
*.iml
/bamboo-specs/.idea
/bamboo-specs/*.iml

/app/dist
/app/sample
/app/__reports__
/app/node_modules/
/app/dist/
/app/bundle/
/app/junit.xml
/app/globalConfig
/app/localConfig
/cli/test-output/**/*.*
/.vscode/
.DS_Store
*.log
/bamboo-specs/target

/app/config/webpack/microfront/config.js
/app/config/webpack/microfront/config.json

/package-lock.json
/app/*yalc*
/app/dependencies.png

node_modules/

dist/

yarn.lock

.env